<% if @restaurants.any? %>
  <restaurant><% @restaurants.each do |restaurant| %>
  <h1><%= image_tag restaurant.image.url(:thumb) if restaurant.image? %><%= restaurant.name %></h1>
  <p><%= restaurant.rating %></p>
  <ul>
      <% restaurant.reviews.each do |review| %>
        <li>
        <%= review.content %>, <strong><%= review.rating %></strong>/5<em> – posted about <%= time_ago_in_words(review.created_at) %> ago</em>. 
        <%= link_to "Endorse", review_endorsements_path(review), class: 'endorsements-link' %>
        <span class="endorsements_count">
          <%= review.endorsements.count %> </span> endorsements

        </li>
  <% end %>
    </ul>
  <p><%= link_to "View #{restaurant.name}", restaurant_path(restaurant) %></p>
  <p><%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %></p>
  </restaurant>
  <br />
  <% end %>
<% else %>
  <p>No restaurants.</p>
<% end %>

<%= link_to 'Add a restaurant', new_restaurant_path %>