  <p><%= @restaurant.name %></p>
  <p><%= @restaurant.description %></p>
  <p><%= @restaurant.rating %></p>

  <h3>Reviews</h3>
  <% if !@restaurant.reviews.any? %>
    <p>No reviews.</p>
  <% else %>
    <ul>
      <%= @restaurant.reviews.each do |review| %>
        <li><%= review.content %></li>
    </ul>
  <% end %>
<% end %>
<%= link_to "Leave review", new_restaurant_review_path(@restaurant) %>